<main class="main">
  <div class="inner">
    <%= link_to 'New Post', new_post_path %>
      <div class="post-contents">
        <% @posts.each do |post| %>
          <div class="post-content">
            <div class="post_body">
              <div class='image_content'>
                <%= attachment_image_tag post, :post_image  %>
              </div>
              <%= link_to post.text, post_path(post.id), method: :get, class: :card__title%>
            </div>
          </div> 
        <% end %>
      </div>
   </div>
</div>

<%= link_to "#{current_user.name}さん", "/users/#{current_user.id}",  class: :greeting__link %>