.main {
  height: 300vh;
}

.inner {
  height: 100%;
}


.user_image > img {
  width: 200px;
  height: 200px;
  line-height: 200px;
  background-color: green;
  border-radius: 50%;
  margin: 38px 40px 0 40px;
}

.user-form {
  height: 100vh;
  width: 100wh;
}

.user__wrapper {
  height: 100vh;
}

.user_name {
  height: 15vh;
  width: 30vw;
  margin: 100px 50px 50px 200px;
  font-size: 50px;
  text-align: center;
}

.user_profiles {
  height: 20vh;
  width: 50vw;
  margin: 100px 150px 150px 100px;
  font-size: 50px;
  text-align: center;
}

.user_profile {
  height: 20vh;
  width: 50vw;
  margin: 100px 150px 150px 100px;
  font-size: 50px;
  text-align: center;
}

.user-forms {
  height: 30vh;
  width: 70vw;
  display: flex;
}

.user-post {
  height: 30vh;
}

.user_post-contents {
  width: 100%;
	display: flex;
	flex-wrap: wrap;
}

.user_post-content {
  width: 26%;
  margin: 15px 2.5%;
  display: flex;
  flex-direction: column;
  padding: 12px;
  border-radius: 10px;
  background-color: #fffefc;
  margin: 15px;
  float: left;
}

.user_button {
  display: flex;
  height: 100px;
}

.user_buttons {
  width: 30vw;
  margin: 10px;
  text-align: center;
  padding: 20px 0;
  font-size: 30px;
}

.user_field {

}

input#user_name {
  width: 13vw;
  height: 50px;
}

input#user_profile {
  width: 50vw;
  height: 50vh;
}

div.user_profiles {
  width: 100vh;
  height: 20vh;
  margin: 100px 150px 150px 25px;
}





.user_image {
  position: relative;
  height: 280px;
}

img.attachment.user.user_image.fallback {
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
}



.user_texts {
  position: relative;
}

.user_name {
height: 300px;
margin: 30px 30px 0 30px;
position: relative;
}

/* input#user_name {
  width: 65%;
  height: 10vh;
  position: absolute;
  top: 10px;
  left: 0;
  right: 0;
  margin: auto;
} */

.user_profiles {
  
  height: 100px;
}

input#user_profile {
  width: 65%;
  height: 10vh;
  position: absolute;
  top: 150px;
  left: 0;
  right: 0;
  margin: auto;
}

input.btn {
  width: 45%;
  height: 10vh;
  position: absolute;
  top: 280px;
  left: 0;
  right: 0;
  margin: auto;
}