.main {
  height: 300vh;
}

.user_image > img {
  width: 200px;
  height: 200px;
  line-height: 200px;
  background-color: green;
  border-radius: 50%;
  margin: 38px 40px 0 40px;
}

.user_names {
  font-size: 40px;
}

.user-form {
  height: 36vh;
  width: 100wh;
}

.user_format {
  display: flex;
  height: 50px;
}

.format_button {
  height: 10vh;
  width: 14vw;
  padding: 100px 10px;
}

.user_profile {
  height: 20vh;
}

a.follow {
  padding: 0 58vh;
  font-size: 40px;
}

a.unfollow {
  padding: 0 55vh;
  font-size: 40px;
}

a.edit_button {
  padding: 0 32%;
  font-size: 40px;
}

.user_name {
  font-size: 30px;
  padding: 1vh 7vw;
}

.user_profiles {
  height: 10vh;
  font-size: 25px;
  padding: 1vh 7vw;
}

.user-forms {
  height: 30vh;
  width: 70vw;
  display: flex;
}

.user-post {
  height: 30vh;
}

.user_post-contents {
  width: 100%;
	display: flex;
	flex-wrap: wrap;
}

.user_post-content {
  width: 26%;
  margin: 15px 2.5%;
  display: flex;
  flex-direction: column;
  padding: 12px;
  border-radius: 10px;
  background-color: #fffefc;
  margin: 15px;
  float: left;
}

.user_button {
  display: flex;
  height: 100px;
}

.user_buttons {
  width: 30vw;
  margin: 0 0 0 21vw;
  text-align: center;
  padding: 20px 0;
  font-size: 30px;
}

input#user_profile.profile_edit {
  width: 100%;
  height: 13vh;
}

.user_image {
  position: relative;
  height: 280px;
}

img.attachment.user.user_image.photo.fallback {
  position: absolute;
  left: 30%;

}

.user_texts {
  position: relative;
  padding: 25px 0px 0px 0px;
}

input.btn {
  width: 45%;
  height: 10vh;
  margin: 0 30%;
}
.actions_delete {
  margin: 0 43%;
  width: 10vw;
  height: 6vh;
}

.btn_delete {
  height: 6vh;
  width: 10vw;
}

/* user.edit */
.user_back {
  background-color: rgb(236, 236, 236);
  border-radius: 40px;
}

.user_image_edit label {
  padding: 450px 0 0 0;
}

input#user_user_image.users_image {
  /* display: none; */
}

.user_name_edit {
  padding: 10px;
}

img.attachment.user.user_image.posts {
  height: 69vh;
  width: 67vw;
  padding: 2%;
}

.user-forms_edit label {
  padding: 560px 0 0 0;
}

.users_image img {
  height: 69vh;
  width: 67vw;
  padding: 2%;
  border-radius: 40px;
}

/* user.sign_in */

.boxs {
  width: 350px;
  height: 650px;
  margin: 10px auto 0;
  border-radius: 4px;
  border: 1px #ddd solid;
}

input#user_name {
  border-style: none;
  box-sizing: border-box;
  width: 100%;
  height: 31px;
  border: 1px solid #a6a6a6;
  box-shadow: 0 1px 0 rgba(0,0,0,.07) inset;
  border-radius: 3px;
  padding: 0 7px;
  
}

input#user_profile.profile {
  border-style: none;
  box-sizing: border-box;
  width: 100%;
  height: 31px;
  border: 1px solid #a6a6a6;
  box-shadow: 0 1px 0 rgba(0,0,0,.07) inset;
  border-radius: 3px;
  padding: 0 7px;
  
}

input#user_password {
  border-style: none;
  box-sizing: border-box;
  width: 100%;
  height: 31px;
  border: 1px solid #a6a6a6;
  box-shadow: 0 1px 0 rgba(0,0,0,.07) inset;
  border-radius: 3px;
  padding: 0 7px;
  
}

input#user_password_confirmation {
  border-style: none;
  box-sizing: border-box;
  width: 100%;
  height: 31px;
  border: 1px solid #a6a6a6;
  box-shadow: 0 1px 0 rgba(0,0,0,.07) inset;
  border-radius: 3px;
  padding: 0 7px;
  
}

/* user.log_in */
.box {
  width: 350px;
  height: 450px;
  margin: 180px auto 0;
  border-radius: 4px;
  border: 1px #ddd solid;
}

.box-inner {
  padding: 20px 26px;
}

h1 {
  font-weight: 400;
  font-size: 28px;
  line-height: 1.2;
  margin-bottom: 10px;
  padding-bottom: 4px;
  color: #111111;
}

.box-email {
  margin-bottom: 13px;
}

.box-password {
  margin-bottom: 22px;
}

.box-email label, .box-password label {
  font-weight: 700;
  font-size: 13px;
  padding-left: 2px;
  padding-bottom: 2px;
}

.box-email input[type="email"], .box-password input[type="password"] {
  border-style: none;
  box-sizing: border-box;
  width: 100%;
  height: 31px;
  border: 1px solid #a6a6a6;
  box-shadow: 0 1px 0 rgba(0,0,0,.07) inset;
  border-radius: 3px;
  padding: 0 7px;
}

.column-left {
  float: left;
}

.column-right {
  float: right;
}

.box-password a {
  font-size: 13px;
}

.box-login {
  margin-bottom: 26px;
}

.box-login input[type="submit"] {
  border-style: none;
  width: 100%;
  height: 31px;
  background: linear-gradient(to bottom,#f7dfa5,#f0c14b);
  border-radius: 3px;
  border: 1px #a88734 solid;
}

.box-login input[type="submit"]:hover {
  cursor: pointer;
  background: #f0c14b;
}

.legal-text {
  margin-top: 18px;
  font-size: 12px;
}

.remember {
  font-size: 13px;
  margin-top: 18px;
  padding-left: 3px;
}

.box-newusr p {
  text-align: center;
  font-size: 12px;
  color: #767676;
  margin-bottom: 14px;
}

.box-newusr p span {
  text-decoration: line-through;
  text-decoration-color: #e7e7e7;
}

.box-newusr a {
  display: block;
  width: 100%;
  height: 31px;
  font-size: 13px;
  color: #111;
  line-height: 31px;
  text-align: center;
  background: linear-gradient(to bottom,#f7f8fa,#e7e9ec);
  border-radius: 3px;
  border: 1px #a2a6ac solid;
}

.box-newusr a:hover {
  background: #e7e9ec;
}

/* followers */

.followers {
  display: flex;
}

.follower_icon {

}

.follower_name {
  padding: 0 0 0 102px;
  font-size: 35px;
}

.user_profiles_edit {
  padding: 10px;
}

.text_field label {
  padding: 3px 0 0 0;
}